Package: rsyslog-hiredis-dbgsym
Source: rsyslog
Version: 8.2102.0-2vyatta1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 37
Depends: rsyslog-hiredis (= 8.2102.0-2vyatta1)
Section: debug
Priority: optional
Description: debug symbols for rsyslog-hiredis
Build-Ids: 94ab44d7ef3b6044bc47dc4c3f4615f7a52c8271
