Package: rsyslog-pgsql
Source: rsyslog
Version: 8.2102.0-2vyatta1
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 295
Depends: libc6 (>= 2.4), libpq5, debconf (>= 0.5) | debconf-2.0, rsyslog (= 8.2102.0-2vyatta1), dbconfig-common, ucf
Recommends: postgresql-client
Suggests: postgresql
Section: admin
Priority: optional
Homepage: https://www.rsyslog.com/
Description: PostgreSQL output plugin for rsyslog
 This plugin allows rsyslog to write syslog messages into a PostgreSQL
 database.
