Package: rsyslog-mysql
Source: rsyslog
Version: 8.2102.0-2vyatta1
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 296
Depends: libc6 (>= 2.4), libmariadb3 (>= 3.0.0), debconf (>= 0.5) | debconf-2.0, rsyslog (= 8.2102.0-2vyatta1), dbconfig-common, ucf
Recommends: default-mysql-client | virtual-mysql-client
Suggests: default-mysql-server | virtual-mysql-server
Section: admin
Priority: optional
Homepage: https://www.rsyslog.com/
Description: MySQL output plugin for rsyslog
 This plugin allows rsyslog to write syslog messages into a MySQL database.
