Package: rsyslog-hiredis
Source: rsyslog
Version: 8.2102.0-2vyatta1
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 282
Depends: libc6 (>= 2.4), libhiredis1.1.0 (>= 1.2.0), rsyslog (= 8.2102.0-2vyatta1)
Section: admin
Priority: optional
Homepage: https://www.rsyslog.com/
Description: Redis output plugin for rsyslog
 This plugin allows rsyslog to write syslog messages to Redis, a
 key-value database in a similar vein to memcache but the dataset
 is non-volatile.
