Package: rsyslog-czmq
Source: rsyslog
Version: 8.2102.0-2vyatta1
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 312
Depends: libc6 (>= 2.38), libczmq4 (>= 4.0.0), rsyslog (= 8.2102.0-2vyatta1)
Section: admin
Priority: optional
Homepage: https://www.rsyslog.com/
Description: ZeroMQ protocol support for rsyslog via CZMQ
 These plugins allows rsyslog to send and receive ZeroMQ syslog
 messages via the CZMQ library.
