Package: rsyslog-mysql-dbgsym
Source: rsyslog
Version: 8.2102.0-2vyatta1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 50
Depends: rsyslog-mysql (= 8.2102.0-2vyatta1)
Section: debug
Priority: optional
Description: debug symbols for rsyslog-mysql
Build-Ids: 28aa2b6b1e573c524b5db9e7f9e351a4a348dcdb
