Package: rsyslog-openssl
Source: rsyslog
Version: 8.2102.0-2vyatta1
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 327
Depends: libc6 (>= 2.15), libssl3t64 (>= 3.0.0), rsyslog (= 8.2102.0-2vyatta1)
Section: admin
Priority: optional
Homepage: https://www.rsyslog.com/
Description: TLS protocol support for rsyslog (OpenSSL)
 This netstream plugin allows rsyslog to send and receive encrypted syslog
 messages via the syslog-transport-tls IETF standard protocol.
